$primaryFont: 'system-ui', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

$bodyTextColor: #333 !default;
$bodyBackgroundColor: #fff !default;

$widgetTextColor: #333 !default;
$widgetBackgroundColor: #fff !default;
$widgetBorderColor: #ddd !default;
